## Importing required libraries

In [1]:
import pandas as pd

## Load the data

In [2]:
def load_csv():
    return pd.read_csv('Video_Games_Sales.csv')

## Accessing the dataframe

In [3]:
df = load_csv()
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76,51,8.0,322,Nintendo,E
1,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82,73,8.3,709,Nintendo,E
2,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80,73,8.0,192,Nintendo,E
3,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89,65,8.5,431,Nintendo,E
4,Wii Play,Wii,2006.0,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58,41,6.6,129,Nintendo,E

## Get information about the dataframe

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7017 entries, 0 to 7016
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             7017 non-null   object
 1   Platform         7017 non-null   object
 2   Year_of_Release  6939 non-null   float64
 3   Genre            7017 non-null   object
 4   Publisher        7013 non-null   object
 5   NA_Sales         7017 non-null   float64
 6   EU_Sales         7017 non-null   float64
 7   JP_Sales         7017 non-null   float64
 8   Other_Sales      7017 non-null   float64
 9   Global_Sales     7017 non-null   float64
 10  Critic_Score     7017 non-null   int64
 11  Critic_Count     7017 non-null   int64
 12  User_Score       7017 non-null   float64
 13  User_Count       7017 non-null   int64
 14  Developer        7013 non-null   object
 15  Rating           6947 non-null   object
dtypes: float64(7), int64(3), object(6)
memory usage: 877.2+ KB